body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    background-color: #333;
    color: white;
    padding: 3rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3.5rem;
    font-weight: 700;
}

header p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 2rem 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #24ddbe;
}

section {
    margin: 3rem 0;
}

section h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #24ddbe;
    margin-bottom: 2rem;
}

.project {
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.project h3 {
    margin-top: 0;
    font-size: 1.8rem;
    color: #333;
}

.project p {
    font-size: 1.1rem;
    color: #666;
}

.project a {
    text-decoration: none;
    color: #fdb7b1;
    font-weight: 700;
    margin-top: 1rem;
    display: inline-block;
}

.project a:hover {
    text-decoration: underline;
}

a {
    color: #ffcdc8;
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2rem 0;
    margin-top: 3rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.project-item {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.project-photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.project-photo:hover {
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}

.modal-content {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
    object-fit: contain;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.contact-list {
    list-style: none;
    padding: 0;
}

.contact-list li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.contact-list i {
    margin-right: 10px;
    font-size: 1.5rem;
    color: #0056b3;
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-photo {
        margin-bottom: 20px;
    }

    .project-grid {
        grid-template-columns: 1fr;
    }

    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1.2rem;
    }

    .container {
        width: 90%;
    }

    nav ul li a {
        font-size: 1rem;
    }
}

.about-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-photo {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('img/фон.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #f8f9fa;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}


h1, h2, h3 {
    color: #1f8391; 
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7) 
}

a {
    color: #486620;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #ffdd57;
    text-decoration: underline;
}

section {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.project-item {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.project-photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.project-photo:hover {
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #ffdd57;
    text-decoration: none;
    cursor: pointer;
}


html, body {
    height: 100%;
    margin: 0;
    font-family: 'Courier Prime', Courier, monospace;
  }

body {
    display: flex;
    flex-direction: column;
}
  
main {
    flex: 1;
}
  
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}
  
footer p {
    margin: 0;
}